@page "/doctors"

@using MediatR
@using Microsoft.EntityFrameworkCore
@using Prosthetics.Common
@using Prosthetics.Components.Enums
@using Prosthetics.Components.Layout
@using Prosthetics.Components.Models.Grid
@using Prosthetics.Components.Pages.Doctors.DoctorsViews
@using Prosthetics.Components.Pages.Doctors.Models
@using Prosthetics.Features
@using Prosthetics.Features.Doctors
@using Prosthetics.Persistance
@using Prosthetics.Persistance.Entities

@inject NavigationManager _navManager
@inject IMediator _mediator;
@inject IStore _store;

<h3>Wybierz lekarza</h3>

<GridComponent TData="DoctorViewDto" ColumnsDefinition="@_columns" Data="@_doctors" OnRowClickEvent="@(e => OnDoctorClick(e))"></GridComponent>
<br />

<ButtonComponent Text="Dodaj lekarza" Type="TypeOfButton.PRIMARY" Style="StyleOfButton.CIRCLE" OnButtonClick="OnAddButtonClicked"></ButtonComponent>

@code {
    private IEnumerable<DoctorViewDto>? _doctors;
    private ColumnInfo<DoctorViewDto>[] _columns = new DoctorsGridConfig().Data;

    protected override async Task OnInitializedAsync()
    {
        _doctors = TransformDoctors(await _mediator.Send(new GetDoctorsQuery()));

        await base.OnInitializedAsync();
    }

    private void OnDoctorClick(DoctorDto doctor)
    {
        _store.Order.DoctorId = doctor.Id;
        _store.Order.DoctorFullName = doctor.FullName;

        _navManager.NavigateTo($"/orders");
    }

    private IEnumerable<DoctorViewDto> TransformDoctors(IEnumerable<DoctorDto> list)
    {
        return list.Select(_ => new DoctorViewDto()
        {
            Id = _.Id,
            FullName = _.FullName,
            Actions = RenderHelper.Generate<DoctorActionButtonsComponent>(
                new RenderComponentData("DoctorId", _.Id))
        });
    }

    private void OnAddButtonClicked() => _navManager.NavigateTo("/add-doctor");
}
