@using Prosthetics.Components.Models.Menu
@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="Protetyka" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <SideBarMenuComponent MenuList="_menuList"></SideBarMenuComponent>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        &#x24D2; <a href="https://juniordevops.pl" target="_blank">JuniorDevOps.pl</a>
    </RadzenFooter>
</RadzenLayout>

@code {
    private bool sidebar1Expanded = true;
    private IEnumerable<SideBarMenuInfo> _menuList = new List<SideBarMenuInfo>()
    {
        new SideBarMenuInfo() { Text = "Lekarze", PageUrl = "/doctors", Icon = "account_box" },
        new SideBarMenuInfo() { Text = "Admin", PageUrl = "/export-excel", Icon = "assignment_ind" }
    };

}
