<h3>Dodatkowe zadania:</h3>
<ul class="list-group">
    @foreach (var item in AdditionalWorksCounts)
    {
        <li class="list-group-item">@item</li>
    }
</ul>
<br />

@code {
    [Parameter]
    public EventCallback<string> OnCloseEvent { get; set; }
    [Parameter]
    public IEnumerable<string> AdditionalWorksCounts { get; set; } = new List<string>();
}
